{% extends "account/base_entrance.html" %}
{% load allauth i18n %}
{% block head_title %}
{% trans "Sign Out" %}
{% endblock head_title %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center min-vh-100 mt-3 mb-3">
    <div class="card p-4 shadow-lg min-vw-20 max-vw-40">
        <div class="card-body">
            <!-- Heading -->
            <h2 class="card-title text-center mb-4">
                {% trans "Sign Out" %}
            </h2>

            <!-- Confirmation Message -->
            <p class="text-center">
                {% trans 'Are you sure you want to sign out?' %}
            </p>

            <!-- Logout Form -->
            {% url 'account_logout' as action_url %}
            <form method="post" action="{{ action_url }}" class="mt-3">
                {% csrf_token %}
                {{ redirect_field }}

                <!-- Submit Button -->
                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-custom-color w-100">
                        {% trans 'Sign Out' %}
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}