{% extends "account/base_entrance.html" %}
{% load i18n allauth %}

{% block head_title %}
{% trans "Change Password" %}
{% endblock head_title %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center min-vh-100 mt-3 mb-3">
    <div class="card p-4 shadow-lg min-vw-20 max-vw-40">
        <div class="card-body text-center">
            <!-- Heading -->
            <h2 class="card-title mb-4">
                {% trans "Change Password" %}
            </h2>

            <!-- Success Message -->
            <p class="mb-4">
                {% trans "Your password has been successfully changed." %}
            </p>

            <!-- Redirect Prompt -->
            <a href="{% url 'account_login' %}" class="btn btn-acc-color w-100">
                {% trans "Return to Sign In" %}
            </a>
        </div>
    </div>
</div>
{% endblock content %}