/* Justify texts */
p,
h4 {
    text-align: justify;
}

/* Style FontAwesome icons */
.land-icon {
    font-size: 2rem;
    margin-right: 1rem;
}

/* Landing page */
.landing-h4,
.landing-p {
    font-style: italic;
}

/* Find a Tutor button */
.btn-land-color {
    background-color: #3C0008;
    border: 1px solid #3C0008;
    color: #F9F6EE;
}

.btn-land-color:hover,
.btn-land-color:focus {
    background-color: #F9F6EE;
    border: 1px solid #3C0008;
    color: #3C0008;
}

/* Sign Up/Login buttons */
.btnout-land-color {
    background-color: #F9F6EE;
    border: 1px solid #3C0008;
    color: #3C0008;
}

.btnout-land-color:hover,
.btnout-land-color:focus {
    background-color: #3C0008;
    border: 1px solid #3C0008;
    color: #F9F6EE;
}

.news-input {
    border: 1px solid #3C0008;
}

/* Horizontal rules style */
.hr-land-page {
    border: none;
    height: 0.25rem;
    background-color: #3C0008;
    margin: 1rem 0;
}

/* Newsletter border */
.custom-newsletter {
    border: solid #3C0008 0.25rem;
    border-radius: 1rem;
}

/* Images order in smaller screens */
.row>section {
    order: 0;
}

.row>aside {
    order: 1;
}

/* Styles for larger screens */
@media only screen and (min-width: 992px) {

    /* Restore images order for larger screens */
    .row>section {
        order: initial;
    }

    .row>aside {
        order: initial;
    }
}