/* The website's button scheme */
.btn-profile-color {
    background-color: #3C0008;
    color: #F9F6EE;
}

.btn-profile-color:hover {
    background-color: #F9F6EE;
    border: 0.1rem solid #3C0008;
    color: #3C0008;
}