{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center min-vh-100 mt-3 mb-3">
    <div class="card p-4 shadow-lg min-vw-20 max-vw-40">
        <div class="card-body text-center">
            <!-- Heading -->
            <h2 class="card-title mb-4 text-danger">
                403 Forbidden
            </h2>

            <!-- Error Message -->
            <p class="lead">You do not have permission to access this page.</p>

            <!-- Back to Tutors List Link -->
            <div class="row justify-content-center mt-5 mb-3">
                <div class="col-auto">
                    <a href="{% url 'home' %}" class="btn btn-custom-color w-100 mt-4">
                        Return to Home <i class="fa-solid fa-house"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}