{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/tutor.css' %}">
{% endblock %}

{% block content %}
<div class="container mt-3">
    <h1 class="text-center mt-5 mb-5"><strong>Find and book a tutor!</strong></h1>
    {% for tutor in tutors %}
    <div class="card mb-3">
        <div class="row g-0">
            <!-- Tutor Image (Circular) -->
            <div class="col-md-3 col-lg-2 d-flex justify-content-center align-items-center">
                <img src="{{ tutor.photo.url }}" class="img-fluid rounded-circle mt-2 mb-2"
                    style="max-width: 150px; max-height: 150px" alt="Tutor Photo">
            </div>

            <!-- Tutor Details -->
            <div class="col-md-7 col-lg-8">
                <div class="card-body">
                    <!-- Tutor Name and Price -->
                    <h5 class="card-title">
                        {{ tutor.tutor_firstname }} {{ tutor.tutor_lastname|slice:":1" }}.
                    </h5>

                    <!-- Programming Languages -->
                    <p class="mb-0"><strong>Programming Languages:</strong></p>
                    <div>
                        {% for language in tutor.programming_languages.all|slice:":4" %}
                        <span class="badge bg-primary">{{ language.name }}</span>
                        {% endfor %}
                        {% if tutor.remaining_programming_languages > 0 %}
                        <span class="badge bg-secondary more-languages">+{{ tutor.remaining_programming_languages }}
                            more</span>
                        {% endif %}
                    </div>

                    <!-- Sign Languages -->
                    <p class="mt-3 mb-0"><strong>Sign Languages:</strong></p>
                    <div>
                        {% for sign_language in tutor.sign_languages.all|slice:":2" %}
                        <span class="badge bg-success">{{ sign_language.name }}</span>
                        {% endfor %}
                        {% if tutor.remaining_sign_languages > 0 %}
                        <span class="badge bg-secondary more-languages">+{{ tutor.remaining_sign_languages }}
                            more</span>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-md-2 d-flex justify-content-center align-items-center">
                <div class="justify-content-center align-items-center">
                    <p class="card-text text-center mt-2"><strong>Price:</strong> €{{ tutor.price }} per hour</p>
                    <div class="col-auto text-center">
                        <a class="btn btn-profile-color mb-3" href="">View profile</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}