{% load static %}

{% url 'home' as home_url %}
{% url 'tutors' as tutor_url %}
{% url 'user_profile' as personaluser_url %}
{% url 'booking_create' as bookings_url %}
{% url 'account_login' as login_url %}
{% url 'account_signup' as signup_url %}
{% url 'account_logout' as logout_url %}

<!doctype html>
<html lang="en">

<head>

    {% block meta %}
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block corecss %}
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
    <!-- Bootstrap CDN -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous">
        </script>

    <!-- FontAwesome kit -->
    <script src="https://kit.fontawesome.com/be0d508cf4.js" crossorigin="anonymous"></script>

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <!-- Title of the website -->
    <title>SignCoding {% block extra_title %}{% endblock %}</title>

    {% block favicon %}
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'favicon/site.webmanifest' %}" crossorigin="use-credentials">
    {% endblock %}
</head>

<body class="d-flex flex-column min-vh-100">
    <header>
        <!-- Navigation bar -->
        <nav class="navbar navbar-expand-lg navbar-custom-color">
            <div class="container-fluid">
                <!-- Logo -->
                <a class="navbar-brand logo-custom" href="{% url 'home' %}"><strong>SignCoding</strong></a>
                <!-- Menu toggler -->
                <button class="navbar-toggler ms-auto custom-toggler text-light" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                    aria-label="Toggle navigation" id="menuButton">
                    <span class="line line-1"></span>
                    <span class="line line-2"></span>
                    <span class="line line-3"></span>
                </button>
                <!-- Collapsible menu items -->
                <div class="collapse navbar-collapse text-end" id="navbarNav">
                    <!-- Page links -->
                    <ul class="navbar-nav nav-underline ms-auto">
                        {% if user.is_authenticated %}
                        <!-- Do not show the Home link for logged-in users -->
                        {% else %}
                        <li class="nav-item">
                            <a class="nav-link {% if request.path == home_url %}active" aria-current="page{% endif %}"
                                href="{% url 'home' %}">Home</a>
                        </li>
                        {% endif %}
                        <li class="nav-item">
                            <a class="nav-link {% if request.path == tutor_url %}active" aria-current="page{% endif %}"
                                href="{% url 'tutors' %}">Find a Tutor</a>
                        </li>
                        <!-- My booking only appears for registered users but not for superuser -->
                        {% if user.is_authenticated and not user.is_superuser %}
                        <li class="nav-item">
                            <a class="nav-link {% if request.path == personaluser_url %}active{% endif %}"
                                href="{% url 'user_profile' %}">My
                                Profile</a>
                        </li>
                        {% endif %}
                    </ul>
                    <!-- Sign Out button appears once registered user is logged in / Add a New Tutor button for superuser -->
                    {% if user.is_authenticated %}
                    {% if user.is_superuser %}
                    <a class="btn btn-warning signlog-button" role="button" href="{% url 'add_tutor' %}"><i
                            class="fa-solid fa-user-plus"></i> Add a New Tutor</a>
                    {% endif %}
                    <a class="btn btn-outline-light signlog-button" role="button" href="{% url 'account_logout' %}">Sign
                        Out <i class="fa-solid fa-right-from-bracket"></i></a>
                    {% else %}
                    <a class="btn btn-warning signlog-button" role="button" href="{% url 'account_signup' %}"><i
                            class="fa-solid fa-id-card"></i> Register</a>
                    <a class="btn btn-outline-light signlog-button-sm" role="button" href="{% url 'account_login' %}"><i
                            class="fa-solid fa-right-to-bracket"></i> Login</a>
                    {% endif %}
                </div>
            </div>
        </nav>
    </header>

    {% if messages %}
    <div class="message-container">
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
    </div>
    {% endif %}

    {% block page_header %}
    {% endblock %}

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer class="footer-custom-color py-3 px-3">
        <div class="row">
            <div class="col-sm-4 col-xs-12">
                <h6 class="custom-text-h6"><strong>Site Navigation:</strong></h6>
                <div class="col">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a href="{% url 'home' %}" class="nav-link nav-footer-custom">Home</a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'tutors' %}" class="nav-link nav-footer-custom">Tutor</a>
                        </li>
                        <li class="nav-item">
                            <a href="" class="nav-link nav-footer-custom">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="horizontal-rule"></div>
            <div class="col-sm-4 col-xs-12 contact-footer-column">
                <h6 class="custom-text-h6">If you have any enquiries, please contact us</h6>
                <a class="btn btn-warning" role="button" href=""><i class="fa-solid fa-envelope"></i> Contact form</a>
            </div>
            <div class="horizontal-rule"></div>
            <div class="col-sm-4 col-xs-12">
                <h6 class="custom-text-h6 custom-socmed-links-h6"><strong>Social Media:</strong></h6>
                <ul class="nav flex-column custom-socmed-links">
                    <li class="nav-item">
                        <a target="_blank" href="https://www.facebook.com/" class="nav-link">
                            <i class="fa-brands fa-facebook social-media-custom" aria-hidden="true"></i>
                            <span class="sr-only">Facebook</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a target="_blank" href="https://www.instagram.com/" class="nav-link">
                            <i class="fa-brands fa-instagram social-media-custom" aria-hidden="true"></i>
                            <span class="sr-only">Instagram</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a target="_blank" href="https://x.com/" class="nav-link">
                            <i class="fa-brands fa-x-twitter social-media-custom" aria-hidden="true"></i>
                            <span class="sr-only">X</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <hr class="responsive-line-horizontal">
        <div class="row text-center">
            <div class="col">
                <a class="navbar-brand foot-logo" href="{% url 'home' %}"><strong>© SignCoding 2024</strong></a>
            </div>
        </div>
    </footer>

    {% block postloadjs %}
    <script>
        // Menu button toggle functionality
        const menuButton = document.getElementById('menuButton');
        if (menuButton) {
            menuButton.addEventListener('click', function () {
                menuButton.classList.toggle('close');
            });
        }

        // Fade out alert messages after 5 seconds
        if (!$('.error-page').length) { // Exclude error pages
            setTimeout(function () {
                const messageContainers = document.querySelectorAll('.alert');
                console.log("Message containers found:", messageContainers.length); // Debugging
                messageContainers.forEach(function (container) {
                    console.log("Fading out message:", container.innerText); // Debugging
                    container.style.transition = 'opacity 1s ease-out';
                    container.style.opacity = 0;
                    setTimeout(function () {
                        container.remove(); // Remove after fade-out transition
                    }, 1000); // Delay removal
                });
            }, 5000); // 5-second delay
        }
    </script>
    {% endblock %}
</body>

</html>