<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Newsletter Subscription Confirmation</title>
</head>

<body>
    <h1>Welcome to SignCoding's Newsletter!</h1>
    <br>
    <p>Dear Subscriber,</p>
    <br>
    <p>Thank you for subscribing to our newsletter! You will now receive the latest updates, coupons, and special
        offers from SignCoding directly in your inbox.</p>
    <hr>
    <br>
    <p>If you have any questions or wish to unsubscribe at any time, please contact us at arsenalpure95@gmail.com.</p>
    <br>
    <p>Thank you for staying connected with us!</p>
    <br>
    <p>Sincerely,</p>
    <br>
    <p>SignCoding Team</p>
</body>

</html>